.empower {

   &__container {
      background-color: #fff;
      padding-top: 232px;
      padding-bottom: 323px;
      flex-direction: column;
      align-items: center;
   }

   &__header {
      font-size: 56px;
      line-height: 85%;
      font-weight: 400;
      max-width: 490px;
      text-align: center;
   }

   &__slider {
      margin-top: 88px;
   }

   &__pagination {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      margin-top: 67px;

      .swiper-pagination-bullet {
         width: 8px;
         height: 8px;
         margin: 0px 6px !important;
         background-color: #000;
         border-radius: 0;
      }
   }
}

.swiper {
   overflow: hidden;
   width: 100vw;
   max-width: 1200px;

   &__item {
      max-width: 350px;
      margin-right: 25px;
      margin-left: 25px;
      height: 392px;
      background-color: #EFEFEF;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 32px;
      padding-left: 35px;
      padding-right: 35px;
   }

   &__text {
      font-size: 28px;
      line-height: 115%;
      letter-spacing: 0.48px;
      color: #000;
   }

   &__name {
      font-size: 16px;
      line-height: 150%;
      color: #000;
   }
}

.swiper-wrapper {
   /* max-width: 350px; */
   max-width: 1200px;
}

.swiper-slide {
   display: flex !important;
   justify-content: center;
   /* width: 350px; */
}

@media(max-width: 1200px) {
   .empower {
      &__container {
         padding-top: calc(60px + (232 - 60) * ((100vw - 360px) / (1200 - 360)));

         padding-bottom: calc(60px + (323 - 60) * ((100vw - 360px) / (1200 - 360)));
      }

      &__header {
         font-size: calc(40px + (56 - 40) * ((100vw - 360px) / (1200 - 360)));
      }

      &__slider {
         margin-top: calc(60px + (88 - 60) * ((100vw - 360px) / (1200 - 360)));
      }

      &__pagination {
         margin-top: calc(40px + (67 - 40) * ((100vw - 360px) / (1200 - 360)));
      }
   }
}