.string {
   margin: 0 auto;

   &__container {
      position: relative;
      background-color: #C1CBE7;
      margin: 0 auto;
      display: flex;
      /*       flex-direction: row-reverse;
      align-items: center; */
      justify-content: center;
   }

   &__burger-img {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      display: none;

      svg {
         /* stroke: #8B4513; */
         stroke: #000;

         &:hover {
            cursor: pointer;
         }
      }
   }
}

.dialog {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   padding: 65px 40px 40px;
   border-radius: 25px;
   background-image: linear-gradient(#FCD0BA, #eeeeee);

   &::backdrop {
      background-color: rgb(0 0 0 / 0.8);
   }

   &__anchor {
      font-size: 23px;
      line-height: 130%;

      @include media-hover {
         border-bottom: #000 1px solid;
      }
   }

   &__link {
      text-wrap: nowrap;
   }

   &__link~&__link {
      margin-top: 20px;
   }

   &__cross {
      position: absolute;
      top: 20px;
      right: 20px;

      &:hover {
         cursor: pointer;
      }
   }
}

.string p {
   /* display: block; */
   font-size: 20px;
   padding-top: 15px;
   padding-bottom: 15px;
   text-align: center;
   text-justify: center;
}

.header {
   &__container {
      background-color: #fff;
   }
}

.nav {
   margin: 0 auto;
   display: flex;
   justify-content: center;
   gap: 53px;
}

.nav__link {
   padding-top: 43px;
   padding-bottom: 43px;
}

.nav__anchor {
   font-size: 17px;
   line-height: 130%;

   &:hover {
      border-bottom: #000 1px solid;
   }
}

@media(max-width:1200px) {
   .string p {
      font-size: calc(10px + (20 - 10) * ((100vw - 360px) / (1200 - 360)));
   }
}

@media(max-width: 576px) {
   .string {
      &__burger-img {
         display: block;
      }

      & p {
         margin-right: 74px;
      }
   }

   .nav {
      display: none;
   }
}