.hero {
   margin: 0 auto;

   &__container {
      background-color: #fff;
      margin: 0 auto;
      /* margin-top: 58px; */
      padding-top: 58px;
      padding-bottom: 59px;
      display: flex;
      justify-content: space-between;
      gap: 139px;
   }

   &__info {
      width: 46%;
   }

   &__title {
      font-size: 80px;
      line-height: 105%;
   }

   &__text {
      margin-top: 38px;
      padding-right: 22px;
      font-size: 20px;
      line-height: 125%;
   }

   &__get-app {
      margin-top: 46px;
      /* width: 390px; */
      max-width: 390px;
      height: 60px;
      display: flex;
      justify-content: center;
      border: 1px #ECECEC solid;
      border-radius: 30px;
      overflow: hidden;
   }

   &__input {
      display: block;
      width: 72%;
      border: 0px #ECECEC solid;

      font-size: 16px;
      padding-left: 20px;
      text-align: center;

      &::placeholder {
         font-style: italic;
      }

      &:focus::placeholder {
         opacity: 0;
      }
   }

   &__btn {
      width: 28%;
      background-color: #000;
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;

      &:hover {
         background-color: #2e2e2e;
      }
   }

   &__text-advance {
      margin-top: 47px;
      margin-left: 105px;
      width: 278px;
      /* width: 100%; */
      font-size: 18px;
   }

   &__underlines {
      margin-top: 38px;
      width: 370px;
      display: flex;
      justify-content: space-between;
   }

   &__underline {
      width: 110px;

      border: #000 1px solid;

      &:nth-child(2) {
         border: #FFAD8B 1px solid;
      }
   }

   &__text-remark {
      margin-top: 85px;
      /* width: 551px; */
      width: 100%;
      font-size: 13px;
   }

   &__img {
      margin-top: 45px;

      img {
         width: 100%;
      }
   }
}

@media(max-width: 1200px) {
   .hero {
      &__container {
         gap: calc(50px + (139 - 50) * ((100vw - 768px) / (1200 - 768)));
      }

      &__title {
         font-size: calc(38px + (80 - 38) * ((100vw - 992px) / (1200 - 992)));
      }

      &__text {
         font-size: calc(18px + (20 - 18) * ((100vw - 992px) / (1200 - 992)));
      }

      &__text-advance {
         width: calc(100% - (20px + (105 - 20) * ((100vw - 768px) / (1200 - 768))));

         margin-left: calc(20px + (105 - 20) * ((100vw - 768px) / (1200 - 768)));
      }

      /*       &__get-app {
         width: calc(340px + (390 - 340) * ((100vw - 768px) / (1200 - 768)));
      } */

      &__text-remark {
         margin-top: calc(20px + (85 - 20) * ((100vw - 768px) / (1200 - 768)));
      }

   }
}

@media(max-width: 992px) {
   .hero {
      &__title {
         font-size: calc(30px + (38 - 30) * ((100vw - 360px) / (992 - 360)));
      }

      &__text {
         font-size: 18px;
      }
   }
}

@media(max-width: 768px) {
   .hero {
      &__container {
         /* gap: 50px; */
         flex-direction: column-reverse;
      }

      &__info {
         width: 100%;
         display: flex;
         flex-direction: column;
      }

      &__title {
         width: 80%;
         align-self: center;
         text-align: center;
         margin-top: 30px;
      }

      &__text {
         font-size: 17px;
         padding-right: 0;
      }

      &__get-app {
         /* width: 340px; */
         min-width: 320px;
      }

      &__text-advance {
         margin-top: 47px;
         /* margin-left: 105px; */
         margin-left: 0;
         /* width: 278px; */
         width: 100%;
         font-size: 17px;
      }

      &__underlines {
         width: 100%;
      }

      &__underline {
         width: 30%;
      }

      &__text-remark {
         margin-top: 20px;
      }

      &__img {
         margin-top: 0;
      }
   }
}