.pocket {

   &__container {
      background-color: #000;
      display: flex;
      padding: 12rem 0rem 12rem 4.5rem;

   }

   &__img {
      width: 445px;

      & img {
         width: 100%;
      }
   }

   &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 2;
   }

   &__link {
      & h3 {
         color: #fff;
         text-transform: uppercase;
         text-align: center;
         font-size: 14px;
         font-weight: 400;
         letter-spacing: 2px;
         line-height: 140%;
      }

      & p {
         color: #fff;
         font-size: 11px;
         line-height: 164%;
         text-align: center;
      }
   }

   &__link~&__link {
      margin-top: 50px;
   }

   &__cards {
      margin-top: 66px;
      display: flex;
      gap: 40px;
   }

   &__card {
      background: #fff;
      padding: 20px 33px 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}

.card {

   &__stars {
      margin-top: 9px;
      width: 90px;
      display: flex;
      justify-content: start;
   }
}

.card {

   &__raiting {
      margin-top: 6px;
      font-size: 35px;
      color: #000;
   }

   &__reviews {
      font-size: 12px;
      line-height: 150%;
      color: #808080;
      display: flex;
      gap: 6px;
      text-transform: uppercase;
   }
}

@media(max-width: 1200px) {}

@media(max-width: 992px) {
   .pocket {
      &__img {
         /* flex-shrink: 1; */
         width: calc(250px + (445 - 250) * ((100vw - 576px) / (992 - 576)));
         overflow: hidden;

         img {
            width: auto;
         }
      }

      &__info {
         margin-left: calc(-124px + (20 - -124) * ((100vw - 576px) / (992 - 576)));
         margin-right: 20px;

         flex-shrink: 0;
      }
   }
}

@media(max-width: 576px) {
   .pocket {
      &__container {
         flex-direction: column;
         padding: 12rem 20px 12rem 20px;
      }

      &__img {
         width: 100%;
         overflow: auto;

         img {
            width: 100%;
         }
      }

      &__info {
         margin-left: 0;
         margin-right: 0;
         margin-top: 30px;
      }

      &__link~&__link {
         margin-top: 32px;
      }

      &__cards {
         gap: calc(20px + (40 - 20) * ((100vw - 360px) / (576 - 360)));
      }

      &__card {
         padding: 20px 28px 30px;
      }
   }
}